1. Variables are 
               "hello"- string (str)
               -87.8- Float 
               6 - Float
   Expressions are
                * - Multiplication 
                - - Subraction 
                / - Division 
                + - Addition

2. Difference between string and variable is that string is the data that is stored within inverted commas and variable is an      entity that is used to store the required data. 
   For example: s="sudhanshu". Here s is the variable and Sudhanshu is the string. Hence, we used a variable that is s as an      entity to store data and sudhanshu as the data that has been stored which is in data type of string.

3. The three different data types are bool, Lists, Strings. Bool is used for execution of programs like true or false. Lists is    a variable that is used to store different data types in one entity for example: 1=[ 3,4,5,"ineuron", True] here we can see    float, integer and bool data types stores in one variable 1. Strings is the statement that is stored in a variable with 
   double quotes

4. Expressions are made up of values and operators like 3+5 this is addition which is an expression.It gets all the operators      and values to one single value. Taking the above example the answer is 8 which will be the expression for the entire            operation.

5. This assignment statement, Like spam=10, the differenece between statement and expression is that in assignment statement is    represented by commanding like spam=10 whereas, in expression it is a combination of values & operators which drives to        give one single value like 3+5=8

In [1]:
The value will be 23
6.bacon=22
  bacon+1

23

In [19]:
The value is the same spamspamspam
7.d='Spam'
  type (d)
  'spam' + 'spamspam'
  'spam'*3

'spamspamspam'

8. Eggs is a valid variable because it is not starting with a numarical value hence, 100 is a numarical value that doesn't        store any data because it started with a numarical value.

9. integer= int()
   floating-point number= float()
   string= str()

In [23]:
'i have eaten'+99+burritos

TypeError: can only concatenate str (not "int") to str

10. This leads to a typeerror as the expression can only concatenate string and not integer to string. Hence we can write this     as 'i have eaten' + str(99) + burritos.